.langCard{
    background-color: bisque;
    border: solid .5px darkgray;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    gap: 10px;
    margin: 2px;
}
.langCard button{
    background: none;
    color: green;
    border: none;
    outline: none;
}
.langCard button:hover{
    outline: none;
    background-color: rgb(235, 210, 182); 
}
.langCard button:active{
    outline: none;
    background-color: rgb(212, 190, 164);
}