#root {
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  background-color: whitesmoke;
}
.forms{
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: darkgrey;
  padding: 15px;
}
.taskContainer{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.taskContainer p{
  width: fit-content;
  margin-left: 10px;
}
.listWrap{
  max-height: 400px;
  overflow-y: auto;
}